body {
    font-family: "Heebo", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8de0e2;
}

#root {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
